<!DOCTYPE html>
include head/head.pug
  title Попадос
  body
    include header/header.pug
    .container
      .row
        .col.s12.center
          h2 Попадос
          h2 Ошибка 404, ты не туда зашел, дружок-пирожок!