<!DOCTYPE html>
html(lang="ru")
  include head/head.pug
    title= title
    
  body
    include header/header.pug

    .container
      .row
        form#search-form.col.s12(action='/images' method='get')
          .row
            .col.s6.input-field
              input#tags.validate(name='tags' type='text')
              label(for='tags') Теги
            .col.s6.input-field
              select(name='booru')
                option(value='') multisearch
                option(value='Konachan') konachan
                option(value='Gelbooru' ) gelbooru
                option(value='Danbooru' ) danbooru
                option(value='Yandere') yandere
                option(value='Safebooru' ) safebooru
                option(value='SankakuComplex') sankaku
              label Буры
          .row
            .col.s2
              label Порядок
              div
                label
                  input.with-gap(name='order' value='d' type='radio' checked)
                  span Data desc
              div
                label
                  input.with-gap(name='order' value='r' type='radio')
                  span Random
              //div
              //  label
              //    input.with-gap(name='order' value='e' type='radio')
              //    span Explicit
              //div
              //  label
              //    input.with-gap(name='order' value='a' type='radio')
              //    span Any
            .col.s2
              label Мод
              div
                label
                  input.with-gap(name='mode' value='s' type='radio' checked)
                  span Safe
              div
                label
                  input.with-gap(name='mode' value='q' type='radio')
                  span Questionable
              div
                label
                  input.with-gap(name='mode' value='e' type='radio')
                  span Explicit
              div
                label
                  input.with-gap(name='mode' value='a' type='radio')
                  span Any
          .row
            .col.s6.right
              button.waves-effect.waves-light.blue-grey.darken-4.btn.right(type='submit') Отправить
    
    script.
      document.addEventListener('DOMContentLoaded', () => {
        const elems = document.querySelectorAll('select');
        const instances = M.FormSelect.init(elems);
      });
