<!DOCTYPE html>
html(lang="ru")
  include head/head.pug
    title= title
    
  body
    include header/header.pug

    .container
      .row
        .question
          p.flow-text Что это?
          p.flow-text Штука, которая ищет картинки по заданным тегам среди бур.
      .row
        .question
          p.flow-text Защем?
          p.flow-text 
            s Мне было скучно. 
            span Для просмотра и сохранения картиночек.
      .row
        .question
          p.flow-text Как искать?
          p.flow-text Жмякай на поиск, выбирай буру, пиши теги, ставь галочки и наслаждайся.
      .row
        .question
          p.flow-text Ничего не работает!
          p.flow-text Используй впн/прокси.
      .row
        .question
          p.flow-text Говно какое-то.
          p.flow-text Ну да, а что?