<!DOCTYPE html>
html(lang="ru")
  include head/head.pug
    title= title
    
  body
    include header/header.pug

    .container
      .row.pink.darken-3
        .col.s6
          h2=message
        .col.s6
          h2 Саня хуй соси
    