<!DOCTYPE html>
html(lang="ru")
  include head/head.pug
    title= title
    
  body
    include header/header.pug

    .container
      .row
        form#search-form.col.s12(action='/images' method='get')
          .row
            .input-field.col.s6
              input#tags.validate(name='tags' type='text')
              label(for='tags') Теги
            .input-field.col.s6
              select(name='booru')
                option(value='gelbooru' ) gelbooru
                option(value='danbooru' ) danbooru
                option(value='yandere') yandere
                option(value='lolibooru') lolibooru
                option(value='rule34') rule34
                option(value='safebooru' ) safebooru
                option(value='tbib') tbib
                option(value='xbooru') xbooru
              label Буры
          .row
            .input-field.col.s4
              input#limit.validate(name='limit' type='text')
              label(for='limit') Лимит
            .col.s2
              label
                input.filled-in(type='checkbox' name='random' checked='checked')
                span random
          .row
            .col.s6.right
              button.waves-effect.waves-light.blue-grey.darken-4.btn.right(type='submit') Отправить
    
    script.
      //- const form = document.querySelector('#search-form');
      //- form.addEventListener('submit', (e) => {
      //-   e.preventDefault();
      //-   const checkboxes = document.querySelectorAll('input[type="checkbox"]')
      //-   console.log(checkboxes)
      //-   checkboxes.forEach(checkbox => {
      //-     if (checkbox.checked) {
      //-       checkbox.value = true
      //-     }
      //-     else {
      //-       checkbox.value = false
      //-     }
      //-   })
      //- })

      document.addEventListener('DOMContentLoaded', () => {
        const elems = document.querySelectorAll('select');
        const instances = M.FormSelect.init(elems);
      });
