.header {
  margin-bottom: 50px;
}

.question .flow-text{
  margin: 0;
}

.select-wrapper input.select-dropdown:focus {
  box-shadow: 0 1px 0 0 #26a69a;
}

.dropdown-content li>span {
  color: #263238;
}

.image-wrapper {
  display:inline-block;
  width: 160px;
  height: 160px;
  text-align:center;
  vertical-align: middle; 
}

.image-wrapper img {
  border: 2px solid #757575;
  border-radius: 2%;

  max-width: 150px;
  max-height: 150px;

  cursor: pointer;
}

.images-container {
  margin: 0 auto;
  width: 90%;
}

.images-container .row {
  text-align: center;
}

.layout {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  margin: 0;

}

.layout::after {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.589);
  z-index: -1;
}

.layout .info {
  height: 100%;
  max-height: 100%;
  
  overflow-y: scroll;
}

.tag {
  color: #26a69a;
  font-size: 1.2rem;
  font-weight: 450;
  word-break: break-word;
}

.main-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
}

.main-image {
  max-width: 100%;
  border: 2px solid #f5f5f5;
}

@media only screen and (max-width: 601px) {
  .button-container.right,
  .button-container.left {
    position: fixed;
    top: 0;
  }

  .button-container.right {
    right: 0 !important;
  }

  .button-container.left {
    right: 62px  !important;
  }
}

@media only screen and (min-width: 601px) {
  .images-container {
    width: 95%
  }

  .main-image {
    /* max-width: 470px; */
    max-height: 470px;
  }
}

@media only screen and (min-width: 992px) {
  .main-image {
    /* max-width: 660px; */
    max-height: 660px;
  }
}