nav.header
  .nav-wrapper.grey.darken-1
    ul#nav-mobile
      li
        a( href='/search' ) Поиск
      div.right
        li
          a(href='/') Главная
        li
          a(href='/search') Soon...